<p>WISHLISTS</p>
<div class="form-group p-3 container" id="wishlist-container">
  <div class="cotainer" id="wishlist-list">
  <%current_user.wishlists.each do |wishlist|%>
    <%=render partial: "wishlist_element", locals: { wishlist: wishlist }%>
  <%end%>
  </div>
  <div class="container d-flex align-items-center" id="new-wishlist">
    <button class="ms-auto" id="append-wishlist-element"><%=t("defaults.append")%></button>
  </div>
</div>
<div class="modal fade" id="wishlist-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
    </div>
  </div>
</div>