<div class="d-flex align-items-center my-1 wishlist-element" id="wishlist-<%=wishlist.id%>">
  <%=link_to wishlist.url, "#", class:"form-control wishlist-element-input wishlist-element-linked"%>
  <div class="og-button wishlist-element-update"><i class="fa-solid fa-repeat me-1 ms-3"></i></div>
  <div class="og-button wishlist-element-edit"><i class="fa-solid fa-pen-to-square mx-1"></i></div>
  <div class="og-button wishlist-element-delete"><i class="fa-solid fa-trash mx-1"></i></div>
</div>
